header {
    background-color: rgba(49, 56, 47, 0.308);
    padding: 0;
    display: inline-flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;

}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-align: center;
}

nav li {
    display: inline-block;
    margin-right: 20px;
}

nav a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    font-size: 16px;
    padding: 10px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

nav a:hover {
    color: red;
}